{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 100,
    "tabWidth": 4,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": ["*.md", "*.markdown"],
            "options": {
                "proseWrap": "preserve"
            }
        },
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
